<!DOCTYPE html>
html(lang='ru')
  head
    title= "Книги"
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/css/uikit.min.css" />
    link(href="/css/books.css" type="text/css" rel="stylesheet")
  body
    h1(class="display-4")= "Книги"
    form(class="field" action="" method="POST" id="form")
      input(class="input" type="text" name="search" placeholder="Поиск книг")
      input(class="button" type="submit" value="Поиск")
    
      each val in values
        div(class="uk-grid uk-margin-small-left uk-margin-small-right uk-grid-column-medium")
          div(class="uk-width-1-3@m")
            div(class="uk-card uk-card-secondary uk-card-body")
              h3(class="uk-card-title")= val.book_name
              h4(class="uk-card-title")= val.author_name + " " + val.author_surname
          div(class="uk-width-1-3@m")
            div(class="uk-card uk-card-primary uk-card-body")
              h3(class="uk-card-title")= val.book_name
              h4(class="uk-card-title")= val.author_name + " " + val.author_surname
          div(class="uk-width-1-3@m")
            div(class="uk-card uk-card-default uk-card-body")
              h3(class="uk-card-title")= val.book_name
              h4= val.author_name + " " + val.author_surname
        
        
          