<!DOCTYPE html>
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/css/book_n.css" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/c837cd83e3.js" crossorigin="anonymous")
    title= book.book_name
  body
    nav
      h1= "Книжная библиотека"
      ul    
        li
          a(href="/books")= "Книги"
        li 
          a(href="/authors")= "Авторы"
        li 
          a(href="/shelves")= "Полки"
        li 
          a(href="/users")= "Пользователи"
        li 
          a(href="/profile")= "Профиль"
    hr
    div.main
      header
        div.heading
            h2= book.book_name
            h3
                b
                    a(href="/authors/" + book.author_id)= book.author_name + " " + book.author_surname 
            if book.rating == null
                h3
                  b= "Рейтинг: "
                  | отсутсвует
            else 
                h3
                    b= "Рейтинг:"
                    |
                    | #{book.rating}
            if book.rating_number == null
                h3.review-heading
                    b= "Отзывы (0):"
            else
                h3.review-heading
                    b= "Отзывы (" + book.rating_number + "):"
            if (ratings.length == 0)
                a(class="add-btn" href="/rating_add/" + book_id)= "Добавить отзыв"
            else
              if !(ratings[0].current_user) 
                a(class="add-btn" href="/rating_add/" + book_id)= "Добавить отзыв"
            a(class="add-btn" href="/shelf_add/" + book_id)= "Добавить на полку"  
      div.content
        each val in ratings
          div.card
            div.card-header
              h2
                a(href="/users/" + val.id)= val.name + " " + val.surname + " @" + val.username + ""
              p
                b= "Оценка: " 
                | #{val.rating}
                if val.review != null && val.review != ""
                    p
                      b="Отзыв: "
                      | #{val.review}
                else 
                    p
                      b="Отзыв: " 
                      | отсутствует
            div.card-footer
              if val.current_user
                    div.buttons
                      form(class="field" action="/rating_del/" + val.rating_id method="POST" id="form")
                        a(href="/rating_edit/" + val.rating_id)= "Изменить"
                        input(class="button" type="submit" value="Удалить")
