html
  head
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    title= "Профиль"
  body
    h1= "Профиль"
    ul
        each val in values
            li
              p= "Имя пользователя: " + val.username
              p= "Фамилия: " + val.surname
              p= "Имя: " + val.name
              p= "Email: " + val.email