html
  head
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
    title= "Профиль"
  body
    nav
      h1= "Книжная библиотека"
      ul    
        li
          a(href="/books")= "Книги"
        li 
          a(href="/authors")= "Авторы"
        li 
          a(href="/shelves")= "Полки"
        li 
          a(href="/users")= "Пользователи"
        li 
          a(href="/profile")= "Профиль"
    hr
    div.main
      header
        div.heading
          h1= "Профиль"
        p 
          b="Имя пользователя: "
          | #{user.username}
        p 
          b="Фамилия: "
          | #{user.surname}
        p 
          b="Имя: "
          | #{user.name}
        p 
          b="Email: "
          | #{user.email}
        a(href="/" style="border: solid black 1px; width: 15%; padding: 1em; margin: 1em 0em;")= "Выйти из аккаунта"