html
  head
    link(rel="icon" type="image/x-icon" href="/images/favicon.svg")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    title= "Издательства"
  body
    h2= "Издательства"
    ul
        each val in values
            li
              h4= val.name
              p= "Год основания: " + val.founded 
              p= "Город: " + val.location 