<!DOCTYPE html>
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/x-icon" href="/images/favicon.svg")
    link(href="/css/style.css" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans" rel="stylesheet")
    script(src="https://kit.fontawesome.com/c837cd83e3.js" crossorigin="anonymous")
    title= "Пользователи"
  body
    nav
      h1= "Книжная библиотека"
      ul    
        li
          a(href="/books")= "Книги"
        li 
          a(href="/authors")= "Авторы"
        li 
          a(href="/shelves")= "Полки"
        li 
          a(href="/users")= "Пользователи"
        li 
          a(href="/profile")= "Профиль"
    hr
    div.main
      header
        div.heading
          h1= "Пользователи"
        div.search
          form(action="" method="POST" id="form")
            input(type="text" name="search" placeholder="Поиск пользователей")
            input(type="submit" value="Поиск")
      div.content
        each val in users
          div.card
            div.card-header
              h2
                a(href="/users/" + val.id)= val.name + " " + val.surname 
            div.card-footer
              h3= "@" + val.username